name: Build & Upload

on:
  push:
    branches: [master]
    tags: "*"
  pull_request:
    branches: [master]

jobs:
  Build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0

      - name: Build & Test
        run: |
          # Workaround for https://github.com/GitTools/GitVersion/issues/2838
          if [[ $GITHUB_REF_TYPE == tag ]]; then
            echo Unsetting GITHUB_REF
            unset GITHUB_REF
          fi
          dotnet test --configuration Release
          dotnet pack --no-restore --configuration Release

      - name: Attach NuGet Packages
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: nuget
          path: |
            nuget

      - name: Release & Publish to nuget.org
        id: release
        if: github.event_name == 'push' && github.ref_type == 'tag'
        run: |
          echo 'Creating Release ${{ env.GitVersion_SemVer }}'
          gh release create '${{ env.GitVersion_SemVer }}' ./nuget/* --target '${{ github.sha }}' --generate-notes
          dotnet nuget push "nuget/*.nupkg" --api-key $NUGET_API_KEY --source https://api.nuget.org/v3/index.json
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
